*{
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html{
  font-family: "Montserrat", sans-serif;
}

.header{
  height: 100vh;
  width: 100%;
  background-image: url(eh.jpg);
  background-size: cover;
  background-position: center;

}

body{
  scroll-behavior: smooth;
  line-height: 1.4;
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 1.5rem;
}

h3, h4{
  font-size: 1.2rem;
}

img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}

nav{
  gap: 9rem;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-right: 8%;
  padding-left: 8%;
}

.window-scrolled{
  background: #191919;
}

.logo{
  color: #fff;
  font-size: 2rem;
  letter-spacing: 1px;
  cursor: pointer;
}


a{
  color: #fffafa;
}

/*ul{
  display: flex;
  align-items: center;
  gap: 2rem;
}*/

nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 15px;
}

nav ul li a{
  font-weight: bold;
  text-transform: capitalize;
  transition: all 400ms ease;
}

nav ul li a:hover{
  color: #f9004d;
}

span{
  color: #f9004d;
}

.btn{
  background: #01f864;
  color: #000000;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 20px;
  transition: transform .4s;
}

.btn:hover{
  transform: scale(1.2);
}

.header-btn{
  color: #000000;
  transition: all 0.3s ease;
}

.header-btn:hover{
  background: transparent;
}

.content{
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}

.content h4{
  color: #f1f1f2;
  font-size: .9rem;
  font-weight: bolder;
  letter-spacing: 2px;
}

.content h1{
  color: #ffffffe9;
  margin: 20px 0px 20px;
  font-size: 3rem;
}

.content h3{
  color: #ffffffe9;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.newsletter form{
  width: 380px;
  max-width: 100%;
  position: relative;
}

.newsletter form input:first-child{
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  margin: 2rem 0;
  border: 2px solid #f9004d;
  outline: none;
  border-radius: 20px;
}

.newsletter form input:last-child{
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background: #f9004d;
  color: #fffafa;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  margin: 2rem 0;
  top: 6px;
  right: 6px;
}

.about{
  width: 100%;
  padding: 100px 0px;
  background: #191919;
}

.image{
  height: auto;
  width: 430px;
}

.about-text{
  width: 550px;
}

.main{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h2{
  color: #ffffffe9;
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5{
 color: #ffffffe9;
 letter-spacing: 2px;
 font-size: 22px;
 margin-bottom: 25px;
 text-transform: capitalize;
}

.about-text p{
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

button, .services__button{
  background: #f9004d;
  color: #ffffffe9;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: all .4s ease;
}

button:hover, .services__button:hover{
  background: transparent;
  color: #f9004d;
  cursor: pointer;
  border: 2px solid #f9004d;
}

.more{
  margin-top: .5rem;
  text-align: center;
}

.services{
  background: #101010;
  width: 100%;
  padding: 100px 0;
}

.service-title h2{
  color: #ffffffe9;
  font-size: 50px;
  width: 1130px;
  margin: 30px auto;
  display: flex;
  text-align: center;
}

.box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 400px;
}

.card{
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card .photo{
  width: 50px;
  height: 50px;
  display: block;
  margin: 25px 0px;
  color: #f9004d;
  background: #f9004d;
  margin-left: 6rem;
}

.card h5{
  color: #ffffffe9;
  font-size: 23px;
  margin-bottom: 15px;
}

.pra p{
  color: #fcfc;
  margin-bottom: 1.5rem;
}

.services__button{
  padding: 9px 22px;
}

.contact-me{
  width: 100%;
  height: 290px;
  background: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact-me p{
  color: #ffffffe9;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

.contact-me .btn2{
  font-size: 20px;
  background: #f9004d;
  color: #ffffffe9;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: all .4s ease;
}

.contact-me .btn2:hover{
   background: transparent;
   border: 2px solid #f9004d;
   cursor: pointer;
}

footer{
  position: relative;
  width: 100%;
  height: 400px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p:nth-child(1){
  font-size: 30px;
  color: #ffffffe9;
  margin-bottom: 20px;
  font-weight: bold;
}

footer p:nth-child(2){
  color: #ffffffe9;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}

.socials{
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.socials a{
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9004d;
  border-radius: 50%;
  margin: 22px 10px;
  color: #ffffffe9;
  font-size: 12px;
  transition: all .3s ease;
}

.socials a:hover{
  transform: scale(1.3);
}

.end{
  position: absolute;
  color: #f9004d;
  bottom: 35px;
  font-size: 16px;
}